---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sergio Fdz Quir贸s | Fot贸grafo">
  <main>
    <h1>Sergio Fern谩ndez Quir贸s</h1>
    <div>Hola soy Sergio, fot贸grafo profesional  </div>
    <img
      src="https://picsum.photos/seed/picsum/600/300"
      width="80%"
      alt="random image"
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* TODO: create CSS variable for width */
  @media (max-width: 600px) {
    main {
      width: 90%;
    }
  }
</style>
