<footer class="footer">
  <ul>
    <li>Twitter</li>
    <li>Instagram</li>
    <li>Email</li>
  </ul>
</footer>
<style>
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer ul {
    display: flex;
    justify-content: space-around;
    width: 200px;
  }
</style>
